<div id="container">


    <form #addRoom="ngForm" class="form-group && center && contain" novalidate>
        <h3>
            Update Room
        </h3>
        <br>

        <label for="address">Address</label>
        <input type="text" class="form-control && color" id="address" [(ngModel)]="room.address" name="address"
            placeholder="Enter the exact location" required #address="ngModel">
        <div class="danger" [hidden]="address.valid || address.pristine">
            required field*
        </div>
        <br>

        <label for="price">Price</label>
        <input type="number" class="form-control && color" id="price" [(ngModel)]="room.price" name="price"
            placeholder="Price is in rupees" required #price="ngModel">
        <div class="danger" [hidden]="price.valid || price.pristine">
            required field*
        </div>
        <br>

        <label for="numberOfRoom">Number Of Room</label>
        <input type="number" class="form-control && color" id="numberOfRoom" [(ngModel)]="room.numberOfRoom"
            name="numberOfRoom" placeholder="Enter the number of rooms" required #numberOfRoom="ngModel">
        <div class="danger" [hidden]="numberOfRoom.valid || numberOfRoom.pristine">
            required field*

            <br>
        </div>
        <br>

        <label for="description">description About Room</label>
        <textarea type="text" class="form-control && color" rows="6" cols="60" name="description"
            placeholder="Enter the description about rooms(Such as water facility, electricity, wifi, soon..)"
            form="userform" [(ngModel)]="room.description" required #description="ngModel"></textarea>
        <div class="danger" [hidden]="description.valid || description.pristine">
            required field*
        </div>
        <br>

        <label for="carParking">Car Parking </label>
        <input type="checkbox" id="carParking" class="genwidth" value="carParking" [(ngModel)]="room.carParking"
            name="carParking"><br>
        <br>

        <label for="bikeParking">bikeParking Parking</label>
        <input type="checkbox" id="bikeParking" class="genwidth" value="bikeParking" [(ngModel)]="room.bikeParking"
            name="bikeParking"><br>
        <br>



        <label for="photo">
            Select Photo(Maximum 3 photos)</label> <br>
        <input type="file" id="myFile" [(ngModel)]="room.photo" name="img" multiple><br><br>

        <button [disabled]="addRoom.invalid" class="btn btn-primary &&  button " (click)="submit()">
            Update</button>
    </form>
</div>

<!-- <div *ngIf="loading">
    <app-loader></app-loader>
</div>

<main>
    <div id="container">
        <form #addRoom="ngForm" class="form-group && container && color">
            <h3>
                Add Room
            </h3>
            <br>
            <label for="address"> Address</label><br>
            <input type="text" class="color" id="address" [(ngModel)]="room.address" name="address"
                placeholder="Enter the exact location" required #address="ngModel">
            <div class="danger" [hidden]="address.valid || address.pristine">
                required field*
            </div>
            <br><label for="price"> Price</label><br>
            <input type="number" class="color" id="price" [(ngModel)]="room.price" name="price"
                placeholder="Price is in rupees" required #price="ngModel">
            <div class="danger" [hidden]="price.valid || price.pristine">
                required field*
            </div>
            <br><label for="numberOfRoom">Number Of Room</label><br>
            <input type="number" class="color" id="numberOfRoom" [(ngModel)]="room.numberOfRoom" name="numberOfRoom"
                placeholder="Enter the number of rooms" required #numberOfRoom="ngModel">
            <div class="danger" [hidden]="numberOfRoom.valid || numberOfRoom.pristine">
                required field*
            </div>
            <br>Car Parking <input class="color" type="checkbox" (change)="carParkingChanged()">
            <br> Bike Parking <input class="color" type="checkbox" (change)="bikeParkingChanged()">
            <br>

            <label for="image">Choose Image</label><br>
            <input class="color" type="file" name="image" (change)=fileChanged($event) multiple>

            <button [disabled]="addRoom.invalid" class="Button && wide" (click)="submit()">Save Room</button>
        </form>
    </div>
</main> -->