
    <div id="container">
        <form #resetPasswordForm="ngForm" class="form-group && center && contain">
            <h3>
                Reset Room Finder
            </h3>
            <br>
    
            <label for="password" class="color">New Password</label>
            <input class="form-control && color" type="password" id="password" [(ngModel)]="data.password"
                name="password" required #password="ngModel">
            <div class="danger" [hidden]="password.valid || password.pristine">
                required field*
            </div>
            <br>
    
            <label for="confirmPassword" class="color">Confirm Password</label>
            <input class="form-control && color" type="password" id="confirmPassword" [(ngModel)]="data.confirmPassword"
                name="confirmPassword" required #confirmPassword="ngModel">
            <div class="danger" [hidden]="confirmPassword.valid || confirmPassword.pristine">
                required field*
            </div>
            <br>
    
            <button [disabled]="resetPasswordForm.invalid" class="btn btn-primary &&  button " (click)="submit()">Reset</button>
            <br><br>
    
            <p class="color">Remember a password?
                <a class= "link" routerLink="/login">Sign In</a>
            </p>
        </form>

    </div>