<div id="container" *ngIf="!mapChecking">
    <form #addRoom="ngForm" class="form-group && center && contain" novalidate>
        <br><br><br><br><br><br>
        <h3>
            Add Room
        </h3>
        <br>

        <label for="address">Address</label>
        <input type="text" class="form-control && color" id="address" [(ngModel)]="room.address" name="address"
            placeholder="Enter the exact location" required #address="ngModel">
        <div class="danger" [hidden]="address.valid || address.pristine">
            required field*
        </div>
        <br>

        <label for="categories">categories</label>
        <select type="text" id="categories" class="form-control && color" [(ngModel)]="room.categories"
            name="categories" required #categories="ngModel">
            <option value="" disabled selected>Choose the categories as per require</option>
            <option value="premium">Premium</option>
            <option value="urgent">Urgent</option>
            <option value="normal">Normal</option>
        </select>
        <div class="danger" [hidden]="categories.valid || categories.pristine">
            required field*
        </div>
        <br>

        <label for="price">Price</label>
        <input type="number" class="form-control && color" id="price" [(ngModel)]="room.price" name="price"
            placeholder="Price is in rupees" required #price="ngModel">
        <div class="danger" [hidden]="price.valid || price.pristine">
            required field*
        </div>
        <br>

        <label for="numberOfRoom">Number Of Room</label>
        <input type="number" class="form-control && color" id="numberOfRoom" [(ngModel)]="room.numberOfRoom"
            name="numberOfRoom" placeholder="Enter the number of rooms" required #numberOfRoom="ngModel">
        <div class="danger" [hidden]="numberOfRoom.valid || numberOfRoom.pristine">
            required field*
        </div>
        <br>


        <label for="description">Description About Room</label>
        <textarea type="text" class="form-control && color" rows="6" cols="60" name="description"
            placeholder="Enter the description about rooms(Such as water facility, electricity, wifi, soon..)"
            form="usrform" [(ngModel)]="room.description" required #description="ngModel"></textarea>
        <div class="danger" [hidden]="description.valid || description.pristine">
            required field*
        </div>
        <br>

        <label for="car">Car Parking </label>
        <input type="checkbox" class="genwidth" (click)="carParkingChanged()"><br>
        <br>

        <label for="bike">Bike Parking</label>
        <input type="checkbox" class="genwidth" (click)="bikeParkingChanged()"><br>
        <br>



        <label for="image">
            Select Photo(Maximum 3 images)</label> <br>
        <input type="file" class="form-control" name="image" (change)=fileChanged($event) multiple>

        <button *ngIf="!submitting" [disabled]="addRoom.invalid" class="btn btn-primary &&  button " (click)="submit()">Save
            Room</button>
            <button disabled *ngIf="submitting" class="btn btn-primary && button"></button>
    </form>
</div>

<br><br><br><br><br><br><br>

<section *ngIf="mapChecking">
   <!--  Do you want to add location in Map?
    <input type="checkbox" (click)="addMap()"> -->
    <div>
        <agm-map [latitude]="27.6695" [longitude]="85.3408" [zoom]="13" (mapClick)="mapClicked($event)">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
    </div>
    <button class="btn btn-primary && button1" (click)="mapSubmit()">Save</button>
</section>