agm-map {
  height: 450px;
}


* {
  font-family: Lato;
}

a {
  color: darkblue;
}

.center {
  background: inherit;
  width: 400px;
  /* height: 895px; */
  position: absolute;
  left: 430px;
  top: 150px;
  width: 550px;
}
.contain {
  padding: 20px;
  background: white;
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, .3);
}

.button {
  background-color: #0921f8;;
  color: white;
  width: 100px;
  height: 40px;
  border-radius: 30px;
  border-color: 2px #0921f8;;
}
.danger{
  color:red;
}
.color {
  border-color: 2px #0921f8;;
  border-radius: 12px;
}
.link {
  color: #0921f8;;
  background-color: transparent;
  text-decoration: none;
}
.genwidth{
  width: 30px;
  color: #0921f8;;
}
.button1{
  float: right;
  width: 70px;
  height:40px;
}


* {
  margin: 0;
  padding: 0;
}