<div id="container">
    <form class="form-group && center && contain">
        <h3>
            Forgot Password?
        </h3><br>
        <label for="email" class="color">Email</label><br>
        <input type="text" class="form-control && color" placeholder="Email" [(ngModel)]="email" name="email"
            placeholder="Enter your email to reset password"><br>

        <button class="btn btn-primary &&  button" *ngIf="!submitting" (click)="submit()">Submit</button>
        <button disabled class="btn btn-primary &&  button" *ngIf="submitting">Submitting...</button>
        <br>
        <p>Remember Password?</p>
        <a class="link" routerLink="/auth/login">Back to Login.</a>
    </form>
</div>