
.center {
  background: inherit;
  width: 250px;
  /* height: 300px; */
  position: absolute;
  left: 480px;
  top: 200px;
  width: 500px;
}
.contain {
  padding: 20px;
  background: white;
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, .3);
}
.button {
  background-color: #0921f8;;
  color: white;
  width: 100px;
  height: 40px;
  border-radius: 30px;
  border-color: 2px #0921f8;;
}
.color {
  border-color: 2px #0921f8;;
  border-radius: 12px;
}
.danger{
  color:red;
}
.link {
  color: #0921f8;;
  background-color: transparent;
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
}