<div class="about">

    <img src="./../../../assets/main-logo/Room Finder (1).png" class="logo" alt="">
    <br>
    <br>
    <h1>About us</h1>

    <P>


        <br>
        <br>
        Hello,
        <br>
        <br>


        Welcome to our website RoomFinder. This website is famous for the different purpose. This project is develop by
        using NPM - Node Package Manager
        HTML – Hyper Text Markup Language
        CSS – Cascading Style Sheets
        JS – Java Script
        <br>
        <br>


        ‘Room Finder’ system will provide information about rooms, flats, and houses available for rent. ‘Room Finder’
        website will help the tenants easy to find the location of the room or flat and to select the number of rooms
        required. It will make it easy to upload the location, no. of rooms, facilities and other information by the
        landlord. The website will be able to show the available room or flat within a particular area selected by the
        user.
        <br>
        <br>

        We are giving all our effort to make your day full of joy. Hope you love this
        <br>
        <br>
        Thank you,
        <br>
        <br>
        ABOUT US
        <br>
        <br>

        Name : DG_SQURD <br>
        <br>

        Email: sushil99dk9@gmail.com
        <br>
        <br>


        Location: Nepal
        <br>
        <br>

    </P>
</div>
<!-- testimonial -->
<section>
    <div class="box">

        <div class="testimonial">
            <div class="small-container">
                <h2 class="title">Our Developer</h2>
                <div class="row">
                    <div class="col-4">
                        <i class="fa fa-quote-left"></i>
                        <p>
                            Hi my name is Andy and I am topper.
                        </p>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>

                        </div>
                        <img src="./../../../assets/t image/amr.jpg" alt="">
                        <h3>Andy </h3>
                    </div>
                    <div class="col-4">
                        <i class="fa fa-quote-left"></i>
                        <p>
                            Hi my name is SuKul GuNda and I am Fat.
                        </p>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>

                        </div>
                        <img src="./../../../assets/t image/sukul.jpg" alt="">
                        <h3>SuKul </h3>
                    </div>
                    <div class="col-4">
                        <i class="fa fa-quote-left"></i>
                        <p>
                            Hi my name is ACEJEE and I am RIDER.
                        </p>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>

                        </div>
                        <img src="./../../../assets/t image/acejee.jpg" alt="">
                        <h3>ACEJEE </h3>
                    </div>
                    <div class="col-4">
                        <i class="fa fa-quote-left"></i>
                        <p>
                            Hi my name is DK-BOSS and They are my Assistant .
                        </p>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>

                        </div>
                        <img src="./../../../assets/t image/dk.jpg" alt="">
                        <h3>DK </h3>
                    </div>

                </div>
            </div>

        </div>
    </div>

</section>