/* .active {
    background-color: #339036;
 }
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
 }
  
 li {
    float: left;
 }
  
 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
 }
  
 li a:hover:not(.active) {
    background-color: #111;
 } */


 
 .cart{
   margin-right: 20px;
   width: 35px;
   height: 35px;
   cursor: pointer;
   transition: .3s;
}
.cart:hover{
   opacity: .5;
   width: 31px;
   height:31px;
}
 .background{
    background-color: white;
    
 }