<div *ngIf="searching">
    <app-list-room [searchData]="searchedData"></app-list-room>
</div>

<html>
<div *ngIf="!isLoggedIn()">
    <header>
        <div class="navbar">
            <!-- <div class="box"> -->
            <div class="logo">

                <h1>
                    <a routerLink="/home"> <img src="./../../../assets/main-logo/Room Finder (1).png"  class="logo" alt=""> </a>
                </h1>
            </div>

            <form action="/room/list">
                <div class="header__search">
                    <input type="text" class="search__headerInput" placeholder="Search" name="address" >
                    <button class="btn2" > <i class="fa fa-search"> </i>
                    </button>
                </div>
            </form>

            <nav>

                <ul>
                    <!-- <li><a href="">Home</a></li> -->
                    <li><a href="" routerLink='/explore'>Explore</a></li>
                    <li><a href="" routerLink="/auth/login">Sign In</a></li>

                </ul>

                <div class="header__join">
                    <button class="btn" routerLink="/auth/register">Join</button>

                </div>
            </nav>
            <!-- <img src="./../../../assets/im age logo/cart.jpeg" width="25px" height="25px" > -->

            <img src="./../../../assets/image logo/menu.png" class="menu">

        <!-- </div> -->

        </div>
    </header>
</div>


<section *ngIf="isLoggedIn()">
    <div class="navbar" *ngIf="navBar">
        <div class="logo" (click)="homeWent()">

            <h1>
                <a routerLink="/home"> <img src="./../../../assets/main-logo/Room Finder (1).png"  class="logo" alt=""> </a>
            </h1>
        </div>
        <nav>
            <ul>
                <li><a routerLink="/user/profile">Profile</a></li>
                <li><a routerLink="/room/add">Add room</a></li>
                <!-- <li><a routerLink="/room/search">Search Room</a></li> -->
                <!-- <li><a routerLink="/auth/login" (click)="logOut()">Log Out</a></li> -->




            </ul>

        </nav>
    
        <div class="header__join">
            <button class="btn" routerLink="/auth/login" (click)="logOut()">Log Out</button>
            <button class="btn" routerLink="/home" (click)="toogle()">switch to renter </button>

        </div>

        <img src="./../../assets/image logo/menu.png" class="menu">

    </div>


    <!-- Toogling -->

    <!--  -->
    <div class="navbar" *ngIf="!navBar">
        <div class="logo" (click)="homeWent()">

            <h1>
                <a routerLink="/home"> <img src="./../../../assets/main-logo/Room Finder (1).png"  class="logo" alt=""> </a>
            </h1>
        </div>
        <form action="/room/list">
            <div class="header__search">
                <input type="text" class="search__headerInput" placeholder="Search" name="address" >
                <button class="btn2" > <i class="fa fa-search"> </i>
                </button>
            </div>
        </form>      
        <nav>
            <ul>
                <li><a href="">order</a></li>
                <li><a routerLink="/room/list">View room</a></li>



            </ul>

        </nav>
        <div>
            <a routerLink="/cart">
                <img src="./../../../assets/image logo/cart.png" class="cart" >

            </a>
        </div>
        <div class="header__join">
            <button class="btn" routerLink='/user/profile' (click)="toogle()">switch to landlord</button>

        </div>

        <img src="./../../assets/image logo/menu.png" class="menu">

    </div>
</section>

</html>

<!-- <div *ngIf="searching">
    <app-list-room [data]="searchedData"></app-list-room>
</div>
 -->

<!-- Searching -->
<!-- <section *ngIf="searching" class="small-container1" class="background">
    <div *ngFor="let room of searchedData" class="row1">
        <div class="col-41" (click)="roomDashboard(room._id)">
            <div *ngIf="room.image">


                <div>
                    <img src="{{imgUrl}}{{room.image[0]}}" alt="" width="200">
                </div>
            </div>
            <div class=" contain">
                <p>Address: {{room.address}}</p> 
             </div>
             <br>
            <div class=" contain">
                <p>Room available: {{room.numberOfRoom}}</p>
            </div>
            <br>
            <div class=" contain">
               <p>Price: <span>Rs.</span>{{room.price}}</p> 
            </div>
       
    </div>
</div>
</section> -->