.center {
  background: inherit;
  width: 500px;
  height: 120%;
  position: absolute;
  left: 400px;
  top: 200px;
  /* width: 500px; */
}

.contain {
  padding: 20px;
  background: white;
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, .3);
}

.bich {
  margin: 2%;
  word-spacing: 2cm;
  text-transform: capitalize;
  width: 60%;
  padding: 20px;
}

.button {
  background-color: red;
  color: white;
  width: 100px;
  height: 40px;
  border-radius: 30px;
  border-color: 2px red;
}

.imgsreen {
  border-radius: 5%;
  width: 200px;
}

.color {
  border-color: 2px red;
  border-radius: 12px;
}

.danger {
  color: blue;
}

.link {
  color: red;
  background-color: transparent;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

/* hehe */

body {
  background-color: #f9f9fa
}

.padding {
  padding: 3rem !important
}

.user-card-full {
  overflow: hidden
}

.card {
  border-radius: 50px;
  -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  box-shadow: 0 0px 20px 0 rgba(2, 3, 3, 0.08);
  border: 50%;
  margin-bottom: 30px
}

.m-r-0 {
  margin-right: 0px
}

.m-l-0 {
  margin-left: 0px
}

.user-card-full .user-profile {
  border-radius: 5px 0 0 5px
}

.bg-c-lite-green {
  background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
  background: linear-gradient(to right, #ee5a6f, #f29263)
}

.user-profile {
  padding: 20px 0
}

.card-block {
  padding: 1.25rem
}

.image {
  margin-bottom: 25px
}

.img-radius {
  height: 100px;
  width: 110px;
  border-radius: 50%;
}

h6 {
  font-size: 14px
}

.card .card-block p {
  line-height: 25px
}

@media only screen and (min-width: 1400px) {
  p {
    font-size: 14px
  }
}

.card-block {
  padding: 1.25rem
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0
}

.m-b-20 {
  margin-bottom: 20px
}

.p-b-5 {
  padding-bottom: 5px !important
}

.card .card-block p {
  line-height: 25px
}

.m-b-10 {
  margin-bottom: 10px
}

.text-muted {
  color: #919aa3 !important
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0
}

.f-w-600 {
  font-weight: 600;
  text-transform: capitalize;
}

/* .m-b-20 {
  margin-bottom: 20px
} */

.m-t-40 {
  margin-top: 20px
}

.p-b-5 {
  padding-bottom: 5px !important
}

.rowdata {
  margin-bottom: 10px
}

.m-t-40 {
  margin-top: 20px
}

